{% extends 'base.html' %}
{% block content %}
<section class="d-flex flex-wrap justify-content-center gap-3 mt-5 b-5">
{% for i in data %}

<div class="card" style="width: 18rem;">
    <img src="{{i.strMealThumb}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">MealName: {{i.strMeal}} </h5>
      <p>MealID: {{i.idMeal}}</p>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       
    </div>
  </div>
 {% endfor %}
</section>
{% endblock %}